@use "base" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

@mixin font($font-family, $font-size, $color) {
  font: {
    family: $font-family;
    size: $font-size;
  }

  color: $color;
}

body {
  background-color: $background-color-primary;
  @include font($font-family, $font-size-desktop, $font-color-primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 50px;

  header {
    grid-area: 1 / 1 / 2 / 2;
    .toolbar {
      width: 100%;
      height: 40%;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      input {
        padding: 3px;
      }
    }
    .page-title {
      width: 100%;
      height: 60%;
      background-color: $color-primary;
      padding: 10px;
      @include font($font-family, $font-size-title, $font-color-secondary);
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }

  .page-container {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;

    nav {
      grid-area: 1 / 1 / 2 / 2;
      background-color: $color-secondary;
      width: 100%;
      height: 100%;
      .menu-container {
        position: sticky;
        top: 0;
        left: 0;
        .menu-title {
          @include font($font-family, $font-size-title, $font-color-secondary);
          text-transform: uppercase;
          text-align: center;
          font-weight: bold;
          padding: 5px;
        }
        ul {
          display: flex;
          flex-direction: column;
          li {
            padding: 5px;
            background-color: $color-tertiary;
            list-style: none;
            border: 1px solid $border-list-color;
            border-bottom: none;
          }
        }
      }
    }

    main {
      grid-area: 1 / 2 / 2 / 3;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: $background-color-primary;
      .list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 15px;
        .card.item {
          height: 170px;
          width: 250px;
          background-color: $background-color-secondary;
          border: 2px solid $font-color-primary;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            border-radius: 50%;
          }
          .member-name {
            text-align: center;
          }
        }
      }
    }
  }

  footer {
    grid-area: 3 / 1 / 4 / 2;
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-rows: 50px 1fr 50px;
    header {
      .toolbar {
        display: none;
      }
      .page-title {
        height: 100%;
      }
    }

    .page-container {
      grid-template-columns: 1fr;
      grid-template-rows: 50px 1fr;
      nav {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        align-items: center;
        .menu-container {
            width: 100%;
          .menu-title {
            display: none;
          }
          ul {
            flex-direction: row;
            justify-content: space-around;
            li {
              padding: 5px 10px;
            }
          }
        }
      }

      main {
        grid-area: 2 / 1 / 3 / 2;
        .list {
          gap: 5px;
          .card.item {
            border: none;
            width: 100%;
            flex-direction: row;
            justify-content: start;
            gap: 15px;
            padding: 10px;
            img {
            }
            .member-name {
            }
          }
        }
      }
    }

    footer {
    }
  }
}
