$base-color: #1100ff;
$important-color: #000f64;
$warning-color: #00d9ff;
$principal-font: "Times New Roman";
$secondary-font: "Times New Roman";
$box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
$border-radius: 10px;
