$base-color: #ff0000;
$important-color: #610000;
$warning-color: #ffa6dd;
$principal-font: "Calibri";
$secondary-font: "Comic Sans MS";
$box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.8);
$border-radius: 3px;
