@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

$font-family: 'Jost', sans-serif;
$font-color-primary: #fafafa;
$font-color-secondary: #141414;
$font-size-title: 20px;
$font-size: 16px;
$background-color-primary: #141414;
$background-color-secondary: #fafafa;
